<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Club Curmudgeon</title>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script>
      function openAutomatedMessageBox() {
        document.getElementById("automated-message-box").style.display =
          "block";
      }
    </script>
    <header>
      <div>
        <h1>
          Club<br />Curmudgeon
          <i class="fas fa-heart" style="font-size: 24px; color: #ff0054"></i>
        </h1>
      </div>
    </header>
    <div id="container">
      <div>
        <h2>
          Potential Matches
          <i class="far fa-heart" style="font-size: 24px; color: #ff0054"></i>
        </h2>
        <div class="imgcontainer">
          <img src="/grumpycat.jpg" alt="" />
        </div>
      </div>
      <p><b>Name:</b> <%= profile.answer1 %></p>
      <p><b>Avatar:</b> <%= profile.answer2 %></p>
      <p><b>Mood:</b> <%= profile.answer3 %></p>
      <p><b>Pet Peeves:</b> <%= profile.answer4 %></p>
      <p><b>Religion:</b> <%= profile.answer5 %></p>
      <p><b>Life Goals:</b> <%= profile.answer6 %></p>
      <p><b>Self-Care:</b> <%= profile.answer7 %></p>
      <p><b>Availability:</b> <%= profile.answer8 %></p>
      <div id="app-buttons">
        <a href="<%= next %>"
          ><button class="button-app">
            <i
              class="fas fa-heart-broken"
              style="font-size: 64px; color: #ff0054"
            ></i></button
        ></a>
        <button onclick="openAutomatedMessageBox()" class="button-app">
          <i
            class="fas fa-heartbeat"
            style="font-size: 64px; color: #ff0054"
          ></i>
        </button>
      </div>
      <div id="automated-message-box">
        <h3>Sorry, not interested!</h3>
        <!-- <p><%= profile.answer3 %></p> -->
        <a href="<%= next %>">
          <p id="close-box">🅇</p>
        </a>
      </div>
    </div>
  </body>
</html>
